main {
  height: 100vh;
  display: grid;
  grid-gap: 0.7em;
  grid-template-columns:
    [sidebar-start] 1fr
    [contenido-start] 2fr
    [contenido-end];
  grid-template-rows:
    [header-start] 1fr
    [header-end contenido-start] 2fr
    [contenido-end footer-start] 1fr
    [footer-end];
}

main > * {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: goldenrod;
  /* color: white; */
}

header {
  grid-column: sidebar-start / contenido-end;
}

aside {
  grid-row: contenido-start / footer-end;
}
