* {
  padding: 0;
  margin: 0;
}

main {
  display: grid;
  height: 100%;
  grid-gap: 0.6em;
}

main > * {
  background-color: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
}
