body {
  margin: 0;
  padding: 0.3em;
  background-color: white;
}

main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));

  /* FIlas implicitas 
    con esta propiedad ya tenemos control de esas fials implicitas
  */
  grid-auto-rows: minmax(150px, 1fr);

  /* Auto flow: podemos ciontrolar el flujo de nuetro contenido, 
  osea como se crea,; controlamos tanto el control vertical u 
  horizontal*/
  grid-auto-flow: row dense;

  /* Cuando cambiamos el flow, empizan a haber columnas
  implicitas las organizaremos asi: */
  grid-auto-columns: minmax(150px, 1fr);

  grid-gap: 0.4em;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffb86c;
  border-radius: 2em;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
/* Masonrey gallery */
div:nth-child(3n) {
  background-color: #bd93f9;
  grid-row-end: span 2;
}

div:nth-child(8n) {
  background-color: #50fa7b;
  grid-row-end: 2 span;
}

div:nth-child(14n) {
  background-color: #8be9fd;
  grid-column-end: span 2;
  grid-row-end: span 2;
}

/* dense: propiedad que va en el auto-flow 
quen nos ayuda a rellenar los espacios en blanco que
pude llegar a genrar el masonrey */
