#grid-1 {
  display: grid;
  height: 100vh;
  grid-gap: 0.6em;

  grid-template-columns: repeat(auto-fit, minmax(8em, auto));
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid-1 > div {
  background-color: burlywood;
}

#grid-1 > div:nth-child(5) {
  background-color: white;
  display: block;
}

#grid-2 {
  display: grid;
  grid-gap: 1.2em;
  height: 100vh;

  grid-template-columns: repeat(2, 1fr);
}

#grid-2 > div {
  background-color: pink;
}
